<header class="">
    <nav class="cyan">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo left ">
                Read<span>It</span>
            </a>

            <a
                href="#"
                data-target="mobilenav"
                class="sidenav-trigger right"
            >
                <i class="material-icons large">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">All Reviews</a></li>
                <li><a href="/new-review">Add review</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </nav>
    <ul id="mobilenav" class="sidenav">
        <li><a href="/">All Reviews</a></li>
        <li><a href="/new-review">Add review</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</header>