<li class="book">
    <div class="card blue-grey darken-4 book-card z-depth-4">
        <div class="book-image">
            <img src="https://covers.openlibrary.org/b/olid/OL24088830M-M.jpg" alt="book cover" class="book-cover">
        </div>
        <div class="book-content">
            <h3>Title</h3>
            <h4>Author</h4>
            <h5>score: X</h5>
            <h6>Date: yyyy-mm-dd</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis modi dolor ad aliquam sunt deserunt corporis neque, debitis tenetur non distinctio explicabo, officia aperiam laborum sint, vitae iste quibusdam quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quam labore? Voluptates quidem voluptatum quibusdam et earum ea cumque, neque exercitationem optio harum temporibus itaque doloremque odit quo esse incidunt!
            </p>
            <h6>~Reviewer</h6>
        </div>
        <div class="book-action">
            <button class="waves-effect waves-light red btn">Delete</button>
            <a class="waves-effect waves-light btn green">Edit</a>
            <a class="waves-effect waves-light cyan btn">Read more</a>
        </div>
    </div>
</li>