<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head.ejs", {title: "Something went wrong"}) %>
    </head>
    <body class="blue-grey darken-4 blue-grey-text text-lighten-5">
        <header class="">
            <%- include("includes/header.ejs")  %>
        </header>
        <main class="container status-page-container">
            <h1 class="bold cyan-text">500</h1>
            <h2 class="light">Oops! Something went wrong</h2>
            <p class="light">Try again later</p>
        </main>
    </body>
</html>
