<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head.ejs', {title: "about"}) %>
    </head>
    <body class="blue-grey darken-4 blue-grey-text text-lighten-5">
        <header class="">
            <%- include("includes/header.ejs") %>
        </header>
        <main>
            <div class="parallax-container primary-parallax">
                <div class="parallax">
                    <img src="img/about.png" />
                </div>
                <hgroup class="caption center-align container">
                    <h1 class="center">
                        Read<span class="cyan-text">It</span>
                    </h1>
                    <h2 class="center light">
                        Find your next favorite book today!
                    </h2>
                </hgroup>
            </div>
            <section class="container content">
                <h3>About Read<span class="cyan-text">It</span></h3>
                <p>
                    Readit is a place for every bookworm. Everyone can share,
                    edit and delete reviews. You can start reviewing right now
                    for free!
                </p>
                <p>
                    This project was made thanks to
                    <a
                        href="https://materializecss.com/"
                        class="bold cyan-text"
                        >Materializecss</a
                    >
                    and <a href="https://openlibrary.org/" target="" class="bold cyan-text">Open Library API</a>
                </p>
            </section>
        </main>
    </body>
</html>
