<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ReadIt</title>
        <link rel="icon" href="img/logo.svg" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <script
            defer
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        ></script>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/style.css" />
        <script src="js/main.js"></script>
    </head>
    <body class="blue-grey darken-4 blue-grey-text text-lighten-5">
        <header class="">
            <nav class="cyan">
                <div class="nav-wrapper container">
                    <a href="/" class="brand-logo left ">
                        Read<span>It</span>
                    </a>

                    <a
                        href="#"
                        data-target="mobilenav"
                        class="sidenav-trigger right"
                    >
                        <i class="material-icons large">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/">All Reviews</a></li>
                        <li><a href="/new-review">Add review</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </nav>
            <ul id="mobilenav" class="sidenav">
                <li><a href="/">All Reviews</a></li>
                <li><a href="/new-review">Add review</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </header>
        <main class="container s12">
            <h1 class="center">Add Review</h1>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="title" type="text" />
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <select>
                            
                            <option value="1">Stephen King</option>
                            <option value="2">J. K. Rowling</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Author</label>
                    </div>
                    <div class="col s12 m6">
                        <a
                        href="/add-author"
                            class="waves-effect waves-light btn cyan"
                            style="margin-top: 1.5rem"
                            ><i class="material-icons left">add</i>Add author</a
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea
                            id="summary"
                            class="materialize-textarea"
                            maxlength="250"
                        ></textarea>
                        <label for="summary">Review summary</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea
                            id="body"
                            class="materialize-textarea"
                        ></textarea>
                        <label for="body">Review content</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="name" type="text" />
                        <label for="name">Your name</label>
                    </div>

                    <div class="col s12 m6">
                        <label for="score">Score</label>
                        <p class="range-field">
                            <input type="range" id="score" min="0" max="5" />
                        </p>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" id="submit" class="waves-effect waves-light btn cyan right btn-large">Add review</button>
                </div>
            </form>
        </main>
    </body>
</html>
