<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ReadIt</title>
        <link rel="icon" href="img/logo.svg" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <script
            defer
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        ></script>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/style.css"/>
        <script src="js/main.js"></script>
    </head>
    <body class="blue-grey darken-4  blue-grey-text text-lighten-5">
        <header class="">
            <nav class="cyan">
                <div class="nav-wrapper container">
                    <a href="/" class="brand-logo left ">
                        Read<span>It</span>
                    </a>

                    <a
                        href="#"
                        data-target="mobilenav"
                        class="sidenav-trigger right"
                    >
                        <i class="material-icons large">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/">All Reviews</a></li>
                        <li><a href="/new-review">Add review</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </nav>
            <ul id="mobilenav" class="sidenav">
                <li><a href="/">All Reviews</a></li>
                <li><a href="/new-review">Add review</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </header>
        <main>
            <div class="parallax-container primary-parallax">
                <div class="parallax">
                    <img src="img/background.png" />
                </div>
                <hgroup class="caption center-align container">
                    <h1 class="center">Read<span class="cyan-text">It</span></h1>
                    <h2 class="center light">
                        Share your favorite books and read reviews for free
                    </h2>
                </hgroup>
            </div>
            <section class="container search-bar">
                <form class="col s12">
                    <div class="row blue-grey lighten-5 search">
                        <div class="col s11 input-field " style="margin-bottom: 0;">
                            <input
                                id="search"
                                type="text"
                                class="blue-grey-text text-darken-4"
                            />
                            <label for="search">Search</label>
                        </div>
                        <div class="col s1 search-btn" style="transform: translateY(50%)">
                            <button type="submit">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                        
                    </div>
                </form>
            </section>
            <section >
                <ul class="books-list container">
                    <li class="book">
                        <div class="card blue-grey darken-4 book-card z-depth-4">
                            <div class="book-image">
                                <img src="https://covers.openlibrary.org/b/olid/OL24088830M-M.jpg" alt="book cover" class="book-cover">
                            </div>
                            <div class="book-content">
                                <h3>Title</h3>
                                <h4>Author</h4>
                                <h5>score: X</h5>
                                <h6>Date: yyyy-mm-dd</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis modi dolor ad aliquam sunt deserunt corporis neque, debitis tenetur non distinctio explicabo, officia aperiam laborum sint, vitae iste quibusdam quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quam labore? Voluptates quidem voluptatum quibusdam et earum ea cumque, neque exercitationem optio harum temporibus itaque doloremque odit quo esse incidunt!
                                </p>
                                <h6>~Reviewer</h6>
                            </div>
                            <div class="book-action">
                                <button class="waves-effect waves-light red btn">Delete</button>
                                <a class="waves-effect waves-light btn green">Edit</a>
                                <a class="waves-effect waves-light cyan btn">Read more</a>
                            </div>
                        </div>
                    </li>
                    <li class="book">
                        <div class="card blue-grey darken-4 book-card z-depth-4">
                            <div class="book-image">
                                <img src="https://covers.openlibrary.org/b/olid/OL24088830M-M.jpg" alt="book cover" class="book-cover">
                            </div>
                            <div class="book-content">
                                <h3>Title</h3>
                                <h4>Author</h4>
                                <h5>score: X</h5>
                                <h6>Date: yyyy-mm-dd</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis modi dolor ad aliquam sunt deserunt corporis neque, debitis tenetur non distinctio explicabo, officia aperiam laborum sint, vitae iste quibusdam quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quam labore? Voluptates quidem voluptatum quibusdam et earum ea cumque, neque exercitationem optio harum temporibus itaque doloremque odit quo esse incidunt!
                                </p>
                                <h6>~Reviewer</h6>
                            </div>
                            <div class="book-action">
                                <button class="waves-effect waves-light red btn">Delete</button>
                                <a class="waves-effect waves-light btn green">Edit</a>
                                <a class="waves-effect waves-light cyan btn">Read more</a>
                            </div>
                        </div>
                    </li>
                    <li class="book">
                        <div class="card blue-grey darken-4 book-card z-depth-4">
                            <div class="book-image">
                                <img src="https://covers.openlibrary.org/b/olid/OL24088830M-M.jpg" alt="book cover" class="book-cover">
                            </div>
                            <div class="book-content">
                                <h3>Title</h3>
                                <h4>Author</h4>
                                <h5>score: X</h5>
                                <h6>Date: yyyy-mm-dd</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis modi dolor ad aliquam sunt deserunt corporis neque, debitis tenetur non distinctio explicabo, officia aperiam laborum sint, vitae iste quibusdam quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quam labore? Voluptates quidem voluptatum quibusdam et earum ea cumque, neque exercitationem optio harum temporibus itaque doloremque odit quo esse incidunt!
                                </p>
                                <h6>~Reviewer</h6>
                            </div>
                            <div class="book-action">
                                <button class="waves-effect waves-light red btn">Delete</button>
                                <a class="waves-effect waves-light btn green">Edit</a>
                                <a class="waves-effect waves-light cyan btn">Read more</a>
                            </div>
                        </div>
                    </li>
                    <li class="book">
                        <div class="card blue-grey darken-4 book-card z-depth-4">
                            <div class="book-image">
                                <img src="https://covers.openlibrary.org/b/olid/OL24088830M-M.jpg" alt="book cover" class="book-cover">
                            </div>
                            <div class="book-content">
                                <h3>Title</h3>
                                <h4>Author</h4>
                                <h5>score: X</h5>
                                <h6>Date: yyyy-mm-dd</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis modi dolor ad aliquam sunt deserunt corporis neque, debitis tenetur non distinctio explicabo, officia aperiam laborum sint, vitae iste quibusdam quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quam labore? Voluptates quidem voluptatum quibusdam et earum ea cumque, neque exercitationem optio harum temporibus itaque doloremque odit quo esse incidunt!
                                </p>
                                <h6>~Reviewer</h6>
                            </div>
                            <div class="book-action">
                                <button class="waves-effect waves-light red btn">Delete</button>
                                <a class="waves-effect waves-light btn green">Edit</a>
                                <a class="waves-effect waves-light cyan btn">Read more</a>
                            </div>
                        </div>
                    </li>
                    <li class="book">
                        <div class="card blue-grey darken-4 book-card z-depth-4">
                            <div class="book-image">
                                <img src="https://covers.openlibrary.org/b/olid/OL24088830M-M.jpg" alt="book cover" class="book-cover">
                            </div>
                            <div class="book-content">
                                <h3>Title</h3>
                                <h4>Author</h4>
                                <h5>score: X</h5>
                                <h6>Date: yyyy-mm-dd</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis modi dolor ad aliquam sunt deserunt corporis neque, debitis tenetur non distinctio explicabo, officia aperiam laborum sint, vitae iste quibusdam quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quam labore? Voluptates quidem voluptatum quibusdam et earum ea cumque, neque exercitationem optio harum temporibus itaque doloremque odit quo esse incidunt!
                                </p>
                                <h6>~Reviewer</h6>
                            </div>
                            <div class="book-action">
                                <button class="waves-effect waves-light red btn">Delete</button>
                                <a class="waves-effect waves-light btn green">Edit</a>
                                <a class="waves-effect waves-light cyan btn">Read more</a>
                            </div>
                        </div>
                    </li>
                    
                   
                    
                </ul>
            </section>
        </main>
    </body>
</html>
