<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ReadIt</title>
        <link rel="icon" href="img/logo.svg" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <script
            defer
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        ></script>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/style.css" />
        <script src="js/main.js"></script>
    </head>
    <body class="blue-grey darken-4 blue-grey-text text-lighten-5">
        <header class="">
            <nav class="cyan">
                <div class="nav-wrapper container">
                    <a href="/" class="brand-logo left ">
                        Read<span>It</span>
                    </a>

                    <a
                        href="#"
                        data-target="mobilenav"
                        class="sidenav-trigger right"
                    >
                        <i class="material-icons large">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/">All Reviews</a></li>
                        <li><a href="/new-review">Add review</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </nav>
            <ul id="mobilenav" class="sidenav">
                <li><a href="/">All Reviews</a></li>
                <li><a href="/new-review">Add review</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </header>
        <main>
            <div class="review-parallax">
                <div class="parallax-image " style="background-image: url(https://covers.openlibrary.org/b/olid/OL24088830M-M.jpg)">
                </div>
                
            </div>
            <section class="container content">
                <div class="review">
                    <div class="review-image">
                        <img src="https://covers.openlibrary.org/b/olid/OL24088830M-M.jpg" />
                    </div>
                    <div class="review-content">
                        <h1>Title</h1>
                                <h2>Author</h2>
                                <h3>score: X</h3>
                                <h4>Date: yyyy-mm-dd</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis modi dolor ad aliquam sunt deserunt corporis neque, debitis tenetur non distinctio explicabo, officia aperiam laborum sint, vitae iste quibusdam quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quam labore? Voluptates quidem voluptatum quibusdam et earum ea cumque, neque exercitationem optio harum temporibus itaque doloremque odit quo esse incidunt!
                                </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore velit id magni fuga architecto dicta asperiores esse? Illum in ratione voluptatem veniam explicabo mollitia nulla velit praesentium saepe recusandae blanditiis odio at cumque repellat, corrupti, placeat nobis! Neque quo, placeat at nemo cumque voluptate? Molestias unde vero odio? Exercitationem eos aut labore dolorem quasi rem, vel illum assumenda odio provident deleniti mollitia numquam suscipit alias necessitatibus illo quia facere commodi. Iusto asperiores mollitia magni. Quisquam, nesciunt, asperiores sed iste nemo perferendis, fugit officia error possimus magnam a placeat? Reprehenderit, aspernatur. Consequuntur autem nemo dicta quod. Distinctio aperiam libero numquam consequatur!</p>
                                <h4>~Reviewer</h4>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
